<footer>
      <ul class="footlinks">
        {{#navLink "/aboutus"}}About Us{{/navLink}}
        {{#navLink "/contact"}}Contact Us{{/navLink}}
      </ul>
      <div class="copyright">
        &copy;Curious College
      </div>
      
    </footer>