<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="/">
    <img src="https://i.ibb.co/cy9HL9m/curiouscollegelogo.jpg" alt="logo" height="55" style="box-shadow: 0 0 8px 8px rgb(83, 81, 81) inset;">
  </a>
  <div class="collapse navbar-collapse" id="navbarHome">
    <ul class="navbar-nav mr-auto">
      {{#navLink "/"}}Home{{/navLink}}
      {{#navLink "/categories"}}Categories{{/navLink}}
      {{#navLink "/topthreads"}}Top Threads{{/navLink}}
      {{!-- {{#navLink "#"}}Recent{{/navLink}} --}}
    </ul>
    <ul class="navbar-nav ml-auto">
        {{#navLink "/login"}}Login{{/navLink}} 
        <h4 style="padding:2px 0px 0px 0px; margin:0; color:rgba(255, 255, 255, 0.753)">|</h4>
        {{#navLink "/register"}}Register{{/navLink}}
    </ul>
    
  </div>
</nav>