<div class="container">
  <div class="row">
    <div class="col-12">
      <br>
      <h2><u>All Categories</u></h2>
      <br>
    </div>
    </div>
    
    <div class="row">
      <div class="col-12">
         <table class="table">
        <thead class="thead-dark">
          <tr>
              <th class="col-6" id="main_titles">Topics</th>
              <th class="col-3" id="main_titles"># of Posts</th>
          </tr>
        </thead>
        <tbody>
          {{#if Categories}}
          {{#each Categories}}
          <tr>
            <td><a href="#">{{this.topic_name}}</a></td>
            {{!-- <td id="main_titles">{{this.posts}}</td> --}}
            {{!-- <td><a href="#">Topic 1</a></td>
            <td id="main_titles">100</td> --}}
          </tr>
          {{/each}}
          {{/if}}
        </tbody>
      </table>
      </div>
    </div>
</div>