<!-- Contact Form -->
<div class="col-lg-4 col-md-6 col-sm-6 mx-auto">
    <div class="container">
        <br>
    <div class="form">
        <form action="#">
        <h3 style="text-align:center">Contact Us</h3>
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="First Name">
        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Last Name">
        <label for="country">Country</label>
        <select name="country" id="country">
            <option value="Canada">Canada</option>
            <option value="United States">United States</option>
        </select>
        <label for="message">Your Message</label>
        <br>
        <textarea id="message" name="message" rows="8" cols="73"></textarea>
        <input type="submit" value="Submit" >
        </form>
    </div>
    </div>
</div>