<div class="container">
  <div class="row">
    <div class="col-9">
    <div class="container">
      <br>
      <h2><u>Curious College</u></h2>
      <h5>A Place for you to learn more about College.</h5>
      <br>
    </div>
      <table class="table">
        <thead class="thead-dark">
          <tr>
              <th class="col-6" id="main_titles">Threads</th>
              <th class="col-3" id="main_titles">Replies</th>
          </tr>
        </thead>
        <tbody>
          {{!-- {{#each forumPost}} --}}
          <tr>
            {{!-- <td>{{this.title}}</td> --}}
            {{!-- <td id="main_titles">{{this.replies}}</td> --}}
            <td>Title 1</td>
            <td id="main_titles">90</td>
          </tr>
          <tr>
            <td>Title 2</td>
            <td id="main_titles">12</td>
          </tr>
          <tr>
            <td>Title 2</td>
            <td id="main_titles">12</td>
          </tr>
          <tr>
            <td>Title 2</td>
            <td id="main_titles">12</td>
          </tr>
          <tr>
            <td>Title 2</td>
            <td id="main_titles">12</td>
          </tr>
          <tr>
            <td>Title 2</td>
            <td id="main_titles">12</td>
          </tr>
          <tr>
            <td>Title 2</td>
            <td id="main_titles">12</td>
          </tr>
          {{!-- {{/each}} --}}
        </tbody>
      </table>
      </div>
      <div class="col-3">
        <div class="container">
          <br>
          <div class="banner banner-sm">
            <h5 id="side-banner-title">Top Threads</h5>
          <ul id="side-banner-content">
            <li>Article 1</li>
            <li>Article 2</li>
            <li>Article 3</li>
          </ul>  
          </div>
        </div>

      </div>
</div>
</div>