<div class="col-3 mx-auto">
    <div class="container">
        <br><br>
    <form class="form">
        <h5 style="padding:0px 0px 10px 0px; text-align:center">Login</h5>
        <input type="text" id="username" name="username" placeholder="Username">
        <input type="password" id="password" name="password" placeholder="Password" style="margin: 20px 0px">
        <input type="submit" value="Login">
    </form>
    </div>
</div>