<div class="col-lg-3 col-md-6 col-sm-6 mx-auto">
    <div class="container">
        <br><br>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <form class="form">
                        <h5 style="padding:0px 0px 10px 0px; text-align:center">Login</h5>
                        <input type="text" id="username" name="username" placeholder="Username">
                        <input type="password" id="password" name="password" placeholder="Password" style="margin: 20px 0px">
                        <a href="#">Forgot your password?</a>
                         <input type="submit" value="Login">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>