<div class="col-lg-3 col-md-6 col-sm-6 col-xs-3 mx-auto">
    <div class="container">
        <br><br>
    <form class="form">
        <h5 style="text-align:center">Register</h5>
        <input type="text" id="firstname" name="firstname" placeholder="First Name" style="margin: 20px 0px">
        <input type="text" id="lastname" name="lastname" placeholder="Last Name" style="margin: 20px 0px">
        <input type="text" id="username" name="username" placeholder="Username" style="margin: 20px 0px">
        <input type="email" id="email" name="email" placeholder="Email" style="margin: 20px 0px">
        <input type="password" id="password" name="password" placeholder="Password" style="margin: 20px 0px">
        <input type="password" id="passwordconfirm" name="passwordconfirm" placeholder="Confirm Password" style="margin: 20px 0px">
        <input type="submit" value="Register">
    </form>
    </div>
</div>