<div class="container">
  <div class="row">
    <div class="col-12">
      <br>
      <h2><u>Popular Threads</u></h2>
      <br>
    </div>
    </div>
    <div class="row">
      <div class="col-12">
        <table class="table">
        <thead class="thead-dark">
          <tr>
              <th class="col-6" id="main_titles">Top Threads</th>
              <th class="col-3" id="main_titles"># of Replies</th>
          </tr>
        </thead>
        <tbody>
          {{!-- {{#each Topic}} --}}
          <tr>
            {{!-- <td>{{this.title}}</td> --}}
            {{!-- <td id="main_titles">{{this.posts}}</td> --}}
            <td><a href="#">Title 1</a></td>
            <td id="main_titles">100</td>
          </tr>
          <tr>
            <td><a href="#">Title 2</a></td>
            <td id="main_titles">90</td>
          </tr>
          <tr>
            <td><a href="#">Title 3</a></td>
            <td id="main_titles">80</td>
          </tr>
          <tr>
            <td><a href="#">Title 4</a</td>
            <td id="main_titles">70</td>
          </tr>
          <tr>
            <td><a href="#">Title 5</a></td>
            <td id="main_titles">68</td>
          </tr>
          <tr>
            <td><a href="#">Title 6</a></td>
            <td id="main_titles">65</td>
          </tr>
          <tr>
            <td><a href="#">Title 7</a></td>
            <td id="main_titles">60</td>
          </tr>
          <tr>
            <td><a href="#">Title 8</a></td>
            <td id="main_titles">58</td>
          </tr>
          <tr>
            <td><a href="#">Title 9</a></td>
            <td id="main_titles">50</td>
          </tr>
          <tr>
            <td><a href="#">Title 10</a></td>
            <td id="main_titles">10</td>
          </tr>
          {{!-- {{/each}} --}}
        </tbody>
      </table>
      </div>
    </div>
</div>