body {
  overflow-y: auto;
  background: #edebd7;
}

#main_titles {
    text-align: center;
}
.main-content{
  margin-bottom: 90px;
}

.table th{
    background-color: rgb(189, 220, 247);
    padding: 20px;
}
.table td + td {
   border-left:2px solid rgb(189, 220, 247);
  }

.table tr{
    border-bottom:2px solid rgb(189, 220, 247);
  }

.table a{
  color:black;
}
/* tr:nth-child(even) {
    background-color: rgb(189, 220, 247);
} */



ul, li {
    margin-left: 0; padding-left: 0;
}

#side-banner-title {
    padding: 15px 20px 15px 20px;
    background-color: rgb(105, 178, 228);
    display:block;
    color:white;
    margin-top: -23px;
    text-align: center;
}

#side-banner-content{
    list-style-type:none;
}
#side-banner-content a{
  color: black;
}

div form {
    border-radius: 8px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  input[type="submit"] {
    width: 97%;
    background-color: rgb(204, 190, 173);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 14px;
  }
  
  input[type="submit"]:hover {
    background-color: rgb(142, 177, 241);
  }

  
input[type="text"], input[type="email"], input[type="password"],
select, textarea {
  width: 97%;
  padding: 10px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.footer {
  position:fixed;
  left:0;
  bottom: 0;
  width:100%;
  background-color: 	#77766c;
  color:rgb(80, 175, 238);
  height: 80px;
  text-align: center;
}

.footer li {
  padding: 30px 0px 0px 0px;
  display: inline-block;
}

.footer a{
  color: #000000;
  font-weight: 500;
}

.footer a:hover{
  color: rgb(39, 185, 178);
}

.navbar-nav a{
  color: #000000;
  font-weight: 500;
}

.navbar-nav a:hover{
  color: rgb(39, 185, 178);
}

.active a {
  border: 1px solid black;
}

.navbar {
  background-color: #77766c;
}


.copyright{
  position: absolute;
  bottom: 20px;
  right:5%;
  color: black;
}

